* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body{
    background-color: #f2f2f2;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-div img {
  max-width: 60%;
}

#img-caption {
  margin: 20px 0;
  font-size: 18px;
}

#tribute-info {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

#tribute-info-link {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.tribute-list {
  width: 40%;
  margin: 0 auto;
}

.tribute-list li {
  margin: 15px 0;
  font-size: 17px;
}
